:root{
    --navbar: #071426;
    --background: #F5F7FB;
    --card: #FFFFFF;

    --primary: #2563EB;

    --text: #1F2937;
    --text-secondary: #6B7280;
    --text-white: #6B7280;

    --txtCardWhite: #FFFFFF;
    --txtCardBlack:#071426;

    --star:#D4AF37;
    --border: #E5E7EB;

    --backgroundBannerSubscribe: rgb(26, 100, 157);
}

#header{
    height: 6vh;
    background-color: var(--navbar);
    z-index: 1;
}

#main{
    flex: 1;
}

#footer{
    background-color: var(--navbar);
    min-height: 10vh;
}

body{
    background-color: var(--background);
    color: var(--text);
} 

nav{
    background-color: var(--navbar);
    color: var(--card);
    height: 6vh;
    z-index: 1;
}

.btnNav{
    color: var(--card);
}

.txtWhite{
    color: var(--background);
}
.txtBlue{
    color: var(--primary);
}

.card{
    background-color: var(--card);
    border: 1px solid var(--border);
    cursor: pointer;
    transition: 0.5s;
}

.card:hover{
    transform: translateY(-8px);
}

.btn-primary{
    background-color: var(--primary);
}

#collapseMenu{
    background-color: var(--navbar)
}

#banner{
    height: 40vh;
    position: relative;
}

#banner img{
    height: 100%;
    width: 100%;
    display: block;
}

.txtAndInput{
    position: absolute;
    top: 7%;
    color: var(--background);
}

.imgCard{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 20vh;
}

.txtCard{
    position: absolute;
    color: var(--txtCardWhite);
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.txtCardBlack{
    color: var(--txtCardBlack);
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.travelCard{
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    margin: 0.2%;
}

.travelCard:hover{
    transform: translateY(-8px);
}

.divFjordImg{
    position: relative;
}

.imgFjord{
    position: relative;
    width: 100%;
    height: 100%;
}

.txtFjord{
    background-color: var(--background);
    top: 10%;
    left: 7%;
}

.txtSecondary{
    color: var(--text-secondary)
}

.imgTopDestination{
    position: relative;
    width: 100%;
    height: 14vh;
}

.starColor {
    color: var(--star);
}

.cardInner{
    background-color: var(--card);
    border: 1px solid var(--border);
    border-left: 4px solid var(--primary);
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}

.backgroundBannerSubscribe{
    background: linear-gradient(
    135deg,
    var(--navbar),
    var(--primary)
    );
    color: var(--txtCardWhite)
}

.links{
    display: block;
}